body{
font-family: var(--mainFont);


}
.header{
    padding :47px;
}
.header .list ul{

    display:flex ;
    gap:35px;

}
.list a{

color:#0D0E43;

}
.search input{
    border:none;
    outline:none;
    padding:3px;
}

.search form{
border: 1px solid #E7E6EF;
}
.sign-up input{
    border:none;
    outline:none;
    padding:3px;
}

.sign-up form{
border: 1px solid #E7E6EF;
}

.header .bar{
    display:none;
}

@media screen and (max-width:800px) {
         .list,.search{
             display: none;
           }
      
           .header .bar{
            display: block;
           }

}


.footer {
background-color:#EEEFFB;
padding:50px 0;
}
.footer .left-side{
    align-items: flex-start;
}
.left-side p{
color:var(--ancorColor);
}
.left-side address{
color:var(--ancorColor);
}



.right-side a{
    color:var(--ancorColor);
}

.right-side h2{
    font-family:"Josefin Sans", sans-serif;
}

.items3 h2{

    padding-top:40px ;
}