body{
font-family: var(--mainFont);


}
.header{
    padding :47px;
}
.header .list ul{

    display:flex ;
    gap:35px;

}
.list a{

color:#0D0E43;

}
.search input{
    border:none;
    outline:none;
    padding:3px;
}

.search form{
border: 1px solid #E7E6EF;
}
.sign-up input{
    border:none;
    outline:none;
    padding:3px;
}

.sign-up form{
border: 1px solid #E7E6EF;
}

.header .bar{
    display:none;
}

@media screen and (max-width:800px) {
         .list,.search{
             display: none;
           }
      
           .header .bar{
            display: block;
           }

}

.products{
    padding:55px 0px;
}

.products .row{

 justify-content: flex-start;
 gap:15px;
}
.products .product{

flex-grow: 1;
flex-shrink: 0;
flex-basis: 200px;
box-shadow: 0px 4px 4px #00000040;
}

.products h2{
    font-size: 30px;
    padding-bottom:20px;
color:#1A0B5B;
font-family:"Josefin Sans", sans-serif; 
}

.product img{
    height: 178px;
    width:150px;
    background-color: #F6F7FB;
    padding: 25px 71px;
    object-fit: contain;
}

.products button{
    border:none;
    outline:none;
    padding: 3px 0px;
    border-radius: 3px;
    margin-right: 2px;
}


.products h3{
    color:#FB2E86;
     font-family:"Josefin Sans", sans-serif;
     margin-top: 3px;
}
.product .product-info{
    color:#151875;
    padding:30px 0px;
}

.product-details {
transition-property: background-color;
transition-duration: 1.5s ;
}
.product-info {
transition-property: color;
transition-duration: 1.5s ;
}

.producthover:hover {

    background-color: #151875;

   
    .product-info{

        color:#EEEFFB;
    }
}


.leatest-products{
    padding:60px;
}

.leatest-products .row{

 justify-content: flex-start;
 gap:15px;
 padding: 30px 0px;
}
.leatest-products .item{
    flex-grow:1;
    flex-basis: 200px;
}

.leatest-products h2{
font-family:"Josefin Sans", sans-serif;
color:#1A0B5B;

}

.leatest-products .list .row{
justify-content: center;
gap:40px;
padding-bottom: 0px;
}

.leatest-products img{
    object-fit: contain;
    height: 250px;
    width: 250px;
    background-color: #EEEFFB;
}


.item-details .old-price{
text-decoration: line-through;
color:red;
}
.item-details .new-price{
margin-right: 2px;
padding-left: 30px;
font-weight: bold;
}

.leatest-products  span {
font-family:"Josefin Sans", sans-serif;
color:#1A0B5B;   
}

.leatest-products .list a:hover{

color:#FB2E86;
text-decoration-line: underline;
}






.newslater{
background-image: url("/images/Rectangle.webp");
padding: 170px;
text-align: center;
}
.newslater h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-family:"Josefin Sans", sans-serif;
    color:#151875;
}
.newslater a{
font-family:"Josefin Sans", sans-serif;
color:white;
}





.clients .row {

flex-wrap: nowrap;

}
.clients{
    padding: 50px 0;
}


@media screen and (max-width:800px) {
    
.clients .brands{

    overflow: auto;

}
}



.footer {
background-color:#EEEFFB;
padding:50px 0;
}
.footer .left-side{
    align-items: flex-start;
}
.left-side p{
color:var(--ancorColor);
}
.left-side address{
color:var(--ancorColor);
}

.left-side button{

font-family:"Josefin Sans", sans-serif;
color:white;

}

.left-side input{

padding: 8px;
}


.right-side a{
    color:var(--ancorColor);
  font-family: var(--mainFont);
}

.right-side h2{
    font-family:"Josefin Sans", sans-serif;
}

.items3 h2{

    padding-top:40px ;
}